body {
  margin: 0;
}

img {
  height: 80px;
  width: 80px;
}

#nav-bar .logo .header {
  float: left;
  padding: 10px;
  position: relative;
}

#nav-bar {
  background-color: #00a087;
  color: white;
  height: 80px;
  left: 0;
  padding: 0 2em;
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
}

#nav-bar .header {
  font-size: 200%;
  line-height: 80px;
  padding-left: 10px;
  text-align: center;
  vertical-align: top;
}
