article, article:hover, article:hover i.icon, article:hover img.avatar, article:hover p.handle, article:hover p#counter.likes.counter, i.icon, img.avatar, p.handle, p#counter.likes.counter {
  transition: .5s all ease-in-out; }

article.demo-tweet, article:hover i.demo-tweet.icon, article:hover img.demo-tweet.avatar, article:hover p.demo-tweet.handle, article:hover p.demo-tweet#counter.likes.counter, i.demo-tweet.icon, img.demo-tweet.avatar, p.demo-tweet.handle, p.demo-tweet#counter.likes.counter {
  border: 1.5px solid #d3d3d3;
  border-radius: 7px;
  margin-bottom: 30px; }

article:hover, article:hover i.icon:hover, article:hover img.avatar:hover, article:hover p.handle:hover, article:hover p#counter.likes.counter:hover, i.icon:hover, img.avatar:hover, p.handle:hover, p#counter.likes.counter:hover {
  border: 1.5px solid #6a94a0;
  color: #244751; }

article:hover i.icon, i.icon:hover i.icon, img.avatar:hover i.icon, p.handle:hover i.icon, p#counter.likes.counter:hover i.icon {
  opacity: 1; }

article:hover img.avatar, i.icon:hover img.avatar, img.avatar:hover img.avatar, p.handle:hover img.avatar, p#counter.likes.counter:hover img.avatar {
  opacity: 1; }

article:hover p.handle, i.icon:hover p.handle, img.avatar:hover p.handle, p.handle:hover p.handle, p#counter.likes.counter:hover p.handle {
  color: #84898e; }

article:hover p#counter.likes.counter, i.icon:hover p#counter.likes.counter, img.avatar:hover p#counter.likes.counter, p.handle:hover p#counter.likes.counter, p#counter.likes.counter:hover p#counter.likes.counter {
  opacity: 1; }

footer.footer {
  border-top: 1px solid #eee;
  color: #244751;
  float: bottom;
  margin-bottom: 0;
  padding: 5px 10px; }

header.tweet-header {
  background-color: #eee;
  border-radius: 5px 5px 0 0;
  padding: 10px; }

h2.compose-header {
  margin-top: 0;
  border-bottom: 1px solid #7b9faa; }

h2.demo-header {
  display: inline;
  padding: 10px;
  vertical-align: top; }

i.icon {
  color: #4fbcab;
  display: inline;
  float: right;
  line-height: 10px;
  opacity: 0;
  padding: 5px; }

img.avatar {
  border-radius: 6px;
  opacity: 0.7; }

input {
  color: white;
  margin-top: 4px;
  outline: none;
  padding: 5px 15px;
  background: #83D4C8;
  border: 0.5px solid #ccc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 2px 2px -2px #edf1f2, inset 0 -2px 2px -2px #ccc;
  -webkit-box-shadow: inset 0 2px 2px -2px #edf1f2, inset 0 -2px 2px -2px #ccc;
  box-shadow: inset 0 2px 2px -2px #edf1f2, inset 0 -2px 2px -2px #ccc; }

input:hover {
  background-color: #5BCFBD;
  cursor: pointer; }

.new-tweet .counter.over {
  color: red; }

p.tweet-text {
  color: #244751;
  padding: 15px; }

p.footer {
  display: inline;
  font-size: 13px; }

p.handle {
  display: inline;
  color: #bbbec1;
  float: right;
  padding-top: 5px;
  margin: 0; }

p#counter.likes.counter {
  color: #bbbec1;
  display: inline-block;
  float: right;
  margin: 0;
  opacity: 0;
  vertical-align: middle; }

section.new-tweet {
  background-color: #eee;
  border: 1.5px solid #d3d3d3;
  border-radius: 7px;
  display: none;
  margin-bottom: 30px;
  padding: 10px; }

span.counter {
  float: right;
  padding: 10px; }

textarea.tweet-input {
  border: 1.5px solid #d3d3d3;
  border-radius: 4px;
  padding: 4px;
  padding-bottom: 5px;
  resize: none;
  width: 100%; }

/*# sourceMappingURL=new-tweet.css.map */
